[Unit]
Description=Docker Compose Timer for {{ rewardsfarmer_servicename }}
Requires=docker-compose@{{ rewardsfarmer_servicename }}.service

[Timer]
OnCalendar=*-*-* {{ rewardsfarmer_timer_hours }}:00:00
RandomizedDelaySec={{ rewardsfarmer_timer_delay}}

[Install]
WantedBy=timers.target
